
.about-container {
  padding: 25px;
}
.aboutme{
  background-color: rgb(90, 105, 128);
  font-size: 60px;
  color: rgb(226, 212, 194);
 
}
.aboutme:hover{
  background-color: rgb(226, 212, 194);
  font-size: 66px;
  color: rgb(90, 105, 128);
}
h6, p{
  text-align: left;
}

.bgi {
  background-color: #f2f4f5;
}
.profile-image {
  width: 40%;
  height:60%;
  border: 1px solid grey;
}
@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
  }
  h3,
  h6 {
    margin-top: 10px;
  }
  .aboutme{
    background-color: rgb(90, 105, 128);
    font-size: 30px;
    color: rgb(226, 212, 194);
   
  }
}
